Flask
pandas==2.0.3
numpy==1.24.3
openpyxl==3.1.2
mysql-connector-python==8.1.0
SQLAlchemy==2.0.21
Flask-SQLAlchemy==3.0.5
python-dotenv==1.0.0
matplotlib==3.7.2
seaborn==0.12.2
plotly==5.15.0
pyhive==0.6.5
thrift==0.16.0